---
import { groups } from "../data/groups.js";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Mundial</title>
  </head>

  <body>
    <main>
      {
        groups.map((group) => (
          <section>
            <h2>{group.name}</h2>

            <ul>
              {group.teams.map((team) => (
                <li>
                  <img src={team.logo} alt={team.name} width="30" />
                  {team.name}
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </main>
  </body>
</html>
